$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);
$VeryDarkBlue: hsl(234, 12%, 34%);
$GrayishBlue: hsl(229, 6%, 66%);
$VeryLightGray: hsl(0, 0%, 98%);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60rem;
    padding: 2rem 11rem;
    .content {
      font-size: 2.5rem;
      color: $GrayishBlue;
      font-weight: 200;
    }

    h1 {
      font-size: 2.5rem;
      color: $VeryDarkBlue;
    }
    .dis {
      margin: 1rem;
      text-align: center;
      color: $GrayishBlue;
    }
  }

  .card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .card {
      position: relative;
      padding: 2rem;
      border-radius: 0.5rem;
      width: 24rem;
      height: 17rem;
      box-shadow: 1px 8px 16px 12px hsla(234, 12%, 34%, 0.09);
      .card-title {
        color: $VeryDarkBlue;
        font-size: 1.3rem;
        font-weight: 600;
      }
      .card-text {
        color: $GrayishBlue;
      }
      img {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
      }
    }
    .super {
      border-top: 0.4rem solid $Cyan;
    }
    .calculator {
      border-top: 0.4rem solid $Blue;
    }
    .mid-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .team {
        border-top: 0.4rem solid $Red;
      }

      .karma {
        border-top: 0.4rem solid $Orange;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  body {
    height: 170vh;
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      padding: 1rem;
      .content {
        font-size: 1.6rem;
        padding: 0;
      }
      h1 {
        padding: 0;
        font-size: 1.6rem;
      }
      .dis {
        text-align: justify;
      }
    }
    .card-container {
      display: flex;
      flex-direction: column;
      .card {
        width: 80%;
      }
      .mid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
